<table class="table">
    <tr>
        <th><%= t("Campaign_name") %></th>
        <th><%= t("Due_Date") %></th>
        <th><%= t("Contributor") %></th>
    </tr>
    <% @recent_user_campaigns.each do |campaign| %>
         <tr>
            <td><%= campaign.name %></td>
            <td><%= campaign.due_date %></td>
            <td><%= campaign.user_campaigns_count %></td>
        </tr>
    <% end %>
</table>