<%= form_for [@campaign, @campaign_product] do |f| %>
    <div class="form-group">
        <%= f.label :price %>
        <%= f.number_field :price %>
    </div>
    <div class="form-group">
        <%= f.label :price_type_id %>
        <%= f.select :price_type_id, options_from_collection_for_select(PriceType.all, :id, :name) %>
    </div>
    
    <%= f.submit t('Ekle', :default => "Ekle"), class: "btn btn-sm btn-primary" %>
<% end %>