<%= form_for @campaign, html: {class: "form-inline"} do |c| %>       
   <%= c.fields_for :campaign_products, @campaign.campaign_products.find_or_initialize_by(product: @product) do |cp| %>
        <%= cp.fields_for :product, @product do |p| %>
            <div class="form-group">
                <%= p.label :name %>
                <%= p.text_field :name, class: "form-control", placeholder: :name %>
            </div>           
        <% end %> 
        <div class="form-group">
            <%= cp.label :price %>
            <%= cp.number_field :price, class: "form-control", step: 0.1, placeholder: :price %>
        </div>
        <div class="form-group">
            <%= cp.label :price_type_id %>
            <%= cp.select :price_type_id, options_from_collection_for_select(PriceType.all, :id, :name), {include_blank: true}, {class: "form-control"}   %>
        </div>
    <% end %>
    <%= c.submit t('Ekle', :default => "Ekle"), class: "btn btn-primary" %>  
<% end %>   

