<%= form_for [@campaign, @product], html: {class: "form-inline"} do |p| %>    
        <div class="form-group">
            <%= p.label :name %>
            <%= p.text_field :name, class: "form-control", placeholder: :name %>
        </div>
    
    <%= p.fields_for @campaign_product do |c| %>
        <div class="form-group">
            <%= c.label :price %>
            <%= c.number_field :price, class: "form-control", step: 0.1, placeholder: :price %>
        </div>
        <div class="form-group">
            <%= c.label :price_type_id %>
            <%= c.select :price_type_id, options_from_collection_for_select(PriceType.all, :id, :name), {include_blank: true}, {class: "form-control"}   %>
        </div>
    <% end %>    
    <%= p.submit t('Ekle', :default => "Ekle"), class: "btn btn-primary" %>  
<% end %>   

