 <div class="container">
    <div class="row">
        <% if flash[:notice] %>
            <div class="alert alert-success"><%= flash[:notice] %></div>
        <% end %>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
         <%= render "campaign_products/form", locals: {campaign_product: @user_campaign_product, product: @product }%>
        </div>
        <div class="panel-heading">
            <h3 class="panel-title"><%= Campaign.find(params[:id]).name %> kumpanyasındaki ürünler</h3>
        </div>        
        <div class="panel-body">
            <% if(@campaign_products.present?) %> 
                <ul class="list-group">
                    <% @campaign_products.each do |product| %>
                        <li class="list-group-item">
                            <%= product.name %> -
                            <%= product.price %>TL
                            <b>
                            <% if product.price_type_id == 1 %>
                                <% if product.campaign.user_campaigns.present? %>
                                     <% product.campaign.user_campaigns.count %>
                                <% else %>
                                    (0
                                <% end %> kullanıcı için)     
                            <% else %>
                                / adet 
                            <% end %>
                            </b>
                        </li> 
                    <% end %>
                </ul>
            <% end %>           
        </div>
    </div>
 </div>